<!-- Original buttons -->
<div class="section block">
    <div class="wrapper">
        <div class="row">
            <div class="buttons">
                <a href="#" class="btn">Button</a>
                <a href="#" class="btn">Button</a>
            </div>
            <nav class="child-nav buttons">
                <button class="prev btn">Previous</button>
                <button class="next btn">Next</button>
            </nav>
            <!-- End Original buttons -->

            <!-- Buttons converted to Carbon -->
            <!-- Normal Buttons, used in Basic Content, Cards, Hero, Listing Items, below the table, in the Glide slider -->
            <div class="buttons">
                <a href="#" class="btn bx--btn bx--btn--primary">Button</a>
                <a href="#" class="btn bx--btn bx--btn--primary">Button</a>
            </div>
            <!-- used in Exhibit layout: prev, next, and opening table of contents -->
            <nav class="child-nav buttons">
                <button class="prev btn bx--btn bx--btn--primary">Previous</button>
                <button class="next btn bx--btn bx--btn--primary">Next</button>
            </nav>

            <!-- Carbon primary button -->
            <button class="bx--btn bx--btn--primary" type="button">
                Button
            </button>
            <button class="bx--btn bx--btn--primary" type="button" disabled>
                Button
            </button>
        </div>
    </div>
</div>