<!-- 
	Reference the Parklands site for how this notification should be setup 
	Note: Only display if the cookie does not exist 
	The cookie should be named notification + the id, like "notification1234"
-->
<!-- Original -->
<!-- <div id="1234" class="component notification">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<h2>Alert:</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Libero, praesentium velit. Ipsum fugiat, ex in magnam amet,
					dolore quaerat temporibus nesciunt sapiente, laboriosam
					explicabo.
				</p>
			</div>
			<div class="col">
				<button class="close">
					<i class="fal fa-times"></i>
					<span class="visually-hide-text">Close Notice</span>
				</button>
			</div>
		</div>
	</div>
</div> -->
<!-- Original updated to Carbon -->
<div data-notification class="component notification bx--inline-notification bx--inline-notification--info"
	role="alert">
	<div class="bx--inline-notification__details">
		<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
			xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20"
			viewBox="0 0 32 32" aria-hidden="true">
			<path
				d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,7Zm4,17.12H12V21.88h2.88V15.12H13V12.88h4.13v9H20Z">
			</path>
		</svg>
		<div class="bx--inline-notification__text-wrapper">
			<p class="bx--inline-notification__title">Alert:</p>
			<p class="bx--inline-notification__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Libero, praesentium velit. Ipsum fugiat, ex in magnam amet,
				dolore quaerat temporibus nesciunt sapiente, laboriosam
				explicabo.</p>
		</div>
	</div>
	<button tabindex="0" class="bx--inline-notification__action-button bx--btn bx--btn--sm bx--btn--ghost"
		type="button">Close</button>
	<button data-notification-btn class="bx--inline-notification__close-button" type="button" aria-label="close">
		<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
			xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__close-icon" width="20" height="20"
			viewBox="0 0 32 32" aria-hidden="true">
			<path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z">
			</path>
		</svg>
	</button>
</div>

<!-- Carbon -->
<!-- <div data-notification class="bx--inline-notification bx--inline-notification--info" role="alert">
	<div class="bx--inline-notification__details">
		<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
			xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__icon" width="20" height="20"
			viewBox="0 0 32 32" aria-hidden="true">
			<path
				d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,7Zm4,17.12H12V21.88h2.88V15.12H13V12.88h4.13v9H20Z">
			</path>
		</svg>
		<div class="bx--inline-notification__text-wrapper">
			<p class="bx--inline-notification__title">Notification title</p>
			<p class="bx--inline-notification__subtitle">Subtitle text goes here.</p>
		</div>
	</div>
	<button tabindex="0" class="bx--inline-notification__action-button bx--btn bx--btn--sm bx--btn--ghost"
		type="button">Action</button>
	<button data-notification-btn class="bx--inline-notification__close-button" type="button" aria-label="close">
		<svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;"
			xmlns="http://www.w3.org/2000/svg" class="bx--inline-notification__close-icon" width="20" height="20"
			viewBox="0 0 32 32" aria-hidden="true">
			<path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z">
			</path>
		</svg>
	</button>
</div> -->